body{
    display: flex;
    justify-content:center;
    align-items: center;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}
#bmiForm{
    width: 650px;
    height: 200px;
    border: 2px solid rgb(83, 83, 83);
    border-radius: 15px;
}
.head{
    margin-top: 20px;
    width: 600px;
    text-align: center;
    height: 60px;
}

.solo{
    width: 600px;
    height: 40px;
}
.private{
    width: 600px;
    display: flex;
    justify-content:center;
}
.ymd{
    margin-right: 30px;
}